In [92]:
import numpy as np
import math
from scipy import sparse
import pandas as pd
import sklearn

In [93]:
# zad 1
def freq(x, prob=True):
    xi_ni = {element: 0 for element in set(x)}
    xi = list(xi_ni.keys())
    for element in x:
        xi_ni[element] += 1    
    ni = list(xi_ni.values())
    if prob:
        pi = [n / len(x) for n in ni]
    return xi, pi if prob else ni
xi, ni = freq(np.random.randint(low=0, high=10, size=50), prob=False)
print(xi)
print(ni, sum(ni))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 5, 4, 5, 4, 10, 1, 5, 5, 6] 50

In [94]:
# zad 2
def freq2(x, y, prob=True):
    xy = list(zip(x, y))
    xyi_ni = {pair: 0 for pair in set(xy)}
    xyi = list(xyi_ni.keys())
    xi = [t[0] for t in xyi]
    yi = [t[1] for t in xyi]
    for pair in xy:
        xyi_ni[pair] += 1
    ni = list(xyi_ni.values())
    if prob:
        pi = [n / len(xy) for n in ni]
    return xi, yi, pi if prob else ni

x = [10, 20, 30, 40, 50, 10, 20, 30, 35]
y = ['a', 'b', 'b', 'c', 'd', 'a', 'b', 'e', 'e']
xi, yi, pi = freq2(x, y, prob=True)
xi, yi, ni = freq2(x, y, prob=False)
print(xi)
print(yi)
print(pi)
print(ni)

[35, 30, 40, 50, 30, 20, 10]
['e', 'e', 'c', 'd', 'b', 'b', 'a']
[0.1111111111111111, 0.1111111111111111, 0.1111111111111111, 0.1111111111111111, 0.1111111111111111, 0.2222222222222222, 0.2222222222222222]
[1, 1, 1, 1, 1, 2, 2]

In [95]:
# zad 3 
def entropy(x):
    _, pi = freq(x)
    return -sum(p * math.log2(p) for p in pi)
def entropy2(x, y):
    _, _, pi = freq2(x, y)
    return -sum(p * math.log2(p) for p in pi)
def infogain(x, y):
    return entropy(x) + entropy(y) - entropy2(x, y)
print(entropy([1, 5, 7, 5, 2]))
print(infogain([1, 5, 7, 5, 2],['a', 'a', 'a', 'b', 'b']))

1.9219280948873623
0.5709505944546689

In [97]:
zoo = pd.read_csv('zoo.csv')
data = []
for name, value in zoo.items():
    if name != 'type': 
        data.append([name, entropy(value), infogain(value, zoo['type'])])
df = pd.DataFrame(data, columns=['name', 'entropy', 'infogain'])
df.sort_values('infogain', ascending=False)

        name   entropy  infogain
0     animal  6.638410  2.390560
13      legs  2.033811  1.363047
4       milk  0.974320  0.974320
8    toothed  0.968587  0.865694
3       eggs  0.979466  0.830138
1       hair  0.984030  0.790675
2   feathers  0.717950  0.717950
9   backbone  0.676163  0.676163
10  breathes  0.737490  0.614494
14      tail  0.822837  0.500460
5   airborne  0.791066  0.469703
12      fins  0.653840  0.466614
6    aquatic  0.939685  0.389487
16   catsize  0.988016  0.308490
11  venomous  0.399382  0.133090
7   predator  0.991427  0.093447
15  domestic  0.553898  0.050669